body 
  {
  background-color: lightgrey;
  }
h2 {
  text-align: left;
   }
h3 {
  text-align: left;
   }
p {
  color: blue;
  font-family: arial;
  font-size: 20px;
  }
.intro
  {
  text-align: center;
  background-color: lightgreen;
  }
